[Unit]
Description=apibaka

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/tester/main
WorkingDirectory=/root/tester

[Install]
WantedBy=multi-user.target